version: '3.9'

# see .env file for the default value of the environment variables
services:
  elasticsearch:
    container_name: elasticsearch
    environment:
      - cluster.routing.allocation.disk.threshold_enabled=true
      - cluster.routing.allocation.disk.watermark.low=512mb
      - cluster.routing.allocation.disk.watermark.high=256mb
      - cluster.routing.allocation.disk.watermark.flood_stage=128mb
      - discovery.type=single-node
      - ES_JAVA_OPTS=-Xms256m -Xmx256m
      - xpack.security.enabled=false
    image: elasticsearch:${ELASTICSEARCH_VERSION}
    networks:
      - testing-network
    expose:
      - 9200
  cassandra:
    image: cassandra:3.11
    ports:
      - "9042:9042"
    networks:
      - testing-network
  zookeeper:
    image: wurstmeister/zookeeper:latest
    ports:
      - "2181:2181"
    networks:
      - testing-network
    healthcheck:
      test: [ "CMD-SHELL", "echo ruok | nc -w 2 zookeeper 2181" ]
      interval: 5s
      timeout: 10s
      retries: 3
  kafka:
    image: wurstmeister/kafka:2.12-2.1.1
    depends_on:
      zookeeper:
        condition: service_healthy
    ports:
      - "9092:9092"
    environment:
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
    networks:
      - testing-network
    healthcheck:
      test:
        [ "CMD", "kafka-topics.sh", "--list", "--zookeeper", "zookeeper:2181" ]
      interval: 1s
      timeout: 60s
      retries: 60
  cadence:
    image: ubercadence/server:0.24.0-auto-setup
    ports:
      - "8000:8000"
      - "8001:8001"
      - "8002:8002"
      - "8003:8003"
      - "7933:7933"
      - "7934:7934"
      - "7935:7935"
      - "7939:7939"
      - "7833:7833"
    environment:
      - "CASSANDRA_SEEDS=cassandra"
      - "DYNAMIC_CONFIG_FILE_PATH=config/dynamicconfig/development_es.yaml"
      - "ENABLE_ES=true"
      - "ES_SEEDS=elasticsearch"
      - "ES_VERSION=v7"
      - "KAFKA_SEEDS=kafka"
    depends_on:
      cassandra:
        condition: service_started
      kafka:
        condition: service_healthy
      elasticsearch:
        condition: service_started
    networks:
      - testing-network
  cadence-admin-tools:
    container_name: cadence-admin-tools
    depends_on:
      - cadence
    environment:
      - CADENCE_CLI_ADDRESS=cadence:7933
    image: ubercadence/cli:0.24.0
    networks:
      - testing-network
    stdin_open: true
    tty: true
    volumes:
      - ./init-ci-cadence.sh:/etc/cadence/init-ci-cadence.sh
    entrypoint: sh -c "/etc/cadence/init-ci-cadence.sh"
networks:
  testing-network:
    driver: bridge
    name: testing-network
