/*
 * Workflow APIs
 *
 * This APIs for iwf SDKs to operate workflows
 *
 * API version: 1.0.0
 * Generated by: OpenAPI Generator (https://openapi-generator.tech)
 */

package api

import (
	"github.com/gin-gonic/gin"
	"go.temporal.io/sdk/client"
)

const WorkflowStartApiPath = "/api/v1/workflow/start"
const WorkflowSignalApiPath = "/api/v1/workflow/signal"
const WorkflowQueryApiPath = "/api/v1/workflow/query"
const WorkflowGetApiPath = "/api/v1/workflow/get"
const WorkflowGetWithLongWaitApiPath = "/api/v1/workflow/getWithLongWait"
const WorkflowSearchApiPath = "/api/v1/workflow/search"

// NewService returns a new router.
func NewService(temporalClient client.Client) *gin.Engine {
	router := gin.Default()

	handler := newHandler(temporalClient)

	router.GET("/", handler.index)
	router.POST(WorkflowStartApiPath, handler.apiV1WorkflowStartPost)
	router.POST(WorkflowSignalApiPath, handler.apiV1WorkflowSignalPost)
	router.POST(WorkflowQueryApiPath, handler.apiV1WorkflowQueryPost)
	router.POST(WorkflowGetApiPath, handler.apiV1WorkflowGetPost)
	router.POST(WorkflowGetWithLongWaitApiPath, handler.apiV1WorkflowGetWithLongWaitPost)
	router.POST(WorkflowSearchApiPath, handler.apiV1WorkflowSearchPost)

	return router
}
