name: CI Integration Test
on:
  pull_request:
  push:
    branches:
      - 'main'

jobs:
  tests:
    name: "Integration testing"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: "Set up temporal environment"
        run: docker compose -f docker-compose/ci-temporal-dependencies.yml up -d
      - name: "Test against temporal"
        run: make ci-temporal-integ-test
